<h2>About Zinny</h2>
<p>
    Zinny is a personal, non-commercial application for rating and organizing titles. To avoid duplicate entries, 
    titles may be matched using IMDb's "tconst" IDs when available. Otherwise, titles are matched using title text only. 
</p>
<p>
    Title information courtesy of <a href="https://www.imdb.com" target="_blank">IMDb</a>. Used with permission.
</p>
<p>
    For more details on IMDb's data usage guidelines, please visit 
    <a href="https://www.imdb.com/pressroom/legal/#datasets" target="_blank">IMDb Contributor Datasets</a>.
</p>
